In [1]:
import pandas as pd

import os
from pathlib import Path
import re

In [2]:
%pwd

'c:\\Users\\andre\\OneDrive\\Escritorio\\Fabian Universidad\\Lenguaje\\BigData\\Notebooks'

In [3]:
path = 'c:\\Users\\andre\\OneDrive\\Escritorio\\Fabian Universidad\\Lenguaje\\BigData\\data\\raw'

In [4]:
os.chdir(path)

In [5]:
%pwd

'c:\\Users\\andre\\OneDrive\\Escritorio\\Fabian Universidad\\Lenguaje\\BigData\\data\\raw'

In [6]:
root_dir = Path(".").resolve()#para ubicacion de archivo # para devolver a la carpeta principal

file_path = os.path.join(root_dir,"data","raw")
file_path

'C:\\Users\\andre\\OneDrive\\Escritorio\\Fabian Universidad\\Lenguaje\\BigData\\data\\raw\\data\\raw'

In [7]:
archivos = [ x for x in os.listdir() if re.search('.csv$',x)]

In [8]:
archivos

['llamadas_123_abril_2021.csv',
 'llamadas_123_abril_2022.csv',
 'llamadas_123_agosto_2021.csv',
 'llamadas_123_agosto_2022.csv',
 'llamadas_123_diciembre_2021.csv',
 'llamadas_123_enero_2021.csv',
 'llamadas_123_enero_2022.csv',
 'llamadas_123_febrero_2021.csv',
 'llamadas_123_febrero_2022.csv',
 'llamadas_123_julio_2021.csv',
 'llamadas_123_julio_2022.csv',
 'llamadas_123_junio_2021.csv',
 'llamadas_123_junio_2022.csv',
 'llamadas_123_marzo_2021.csv',
 'llamadas_123_marzo_2022.csv',
 'llamadas_123_mayo_2021.csv',
 'llamadas_123_mayo_2022.csv',
 'llamadas_123_noviembre_2021.csv',
 'llamadas_123_octubre_2021.csv',
 'llamadas_123_septiembre_2021.csv']

In [9]:
df= pd.DataFrame ()

In [10]:
for i in archivos:
    archivo=pd.read_csv(i,
    sep = ';',
    encoding = 'latin-1')
    df = pd.concat([archivo,df])

In [11]:
df.shape

(251231, 11)

In [12]:
df.head ()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00464981-21,1/09/2021 0:45,16,Puente Aranda,15,A¤os,MASCULINO,Norte,Enfermo,MEDIA,NaN
1,CRU-00464982-21,1/09/2021 0:03,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Herido,ALTA,NaN
2,CRU-00464983-21,1/09/2021 0:15,10,Engativ,56,A¤os,MASCULINO,Norte,Intoxicaci¢n,ALTA,NaN
3,CRU-00464984-21,1/09/2021 0:11,2,Chapinero,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Herido,ALTA,NaN
4,CRU-00464986-21,1/09/2021 0:16,3,Santa Fe,28,A¤os,FEMENINO,Norte,Evento Respiratorio,ALTA,NaN

In [13]:
df.shape

(251231, 11)

In [14]:
def remove_duplicates(df):
  df = df.drop_duplicates() 
  df.reset_index(inplace=True, drop=True) 
  return df

In [15]:
def cleaning_date (df):

  col ='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
  df[col] #verificar como vienen los datos de la columna de fechas

  fecha = '1985-12-03 00:00:00'
  pd.to_datetime(fecha,errors='coerce', format ='%Y/%m/%d')#no asignarle nada si se encuentra en ese formato 
  #y asignarle un formato de fecha para verificar si es una fecha correcta o es un NaT

  col='FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
  df[col] = pd.to_datetime(df[col],errors='coerce') #cambiar el tipo de dato string a fecha
  df.info()

  #crear una funcion para intentar corregir las fechas incluyendo los nulos
  fechas = lambda x: parse(x)

  list_fechas = list() #convertir en una lista las fechas
  for fecha in df[col]:
    try: #intente hacerlo
        new_fecha = parse(fecha)
    except Exception as e:
        new_fecha = pd.to_datetime(fecha,errors='coerce')#me muestra los errores como NaT y no se detiene el codigo
       
    list_fechas.append(new_fecha)

  df['RECEPCION_CORREGIDA'] =list_fechas #crear una nueva columna con las fecha corregidas

  return df

In [16]:
def column_cleaning (df):

 col = 'UNIDAD'
 df [col].fillna('SIN_DATO', inplace=True)
 df [col].value_counts(dropna=False, normalize=True)

 col='EDAD'
 df[col].replace({'SIN_DATO': np.nan}, inplace =True) #reemplaza las de SIN_DATE por nan sin numero asignado
 df[col]

 f = lambda x: x if pd.isna(x) else int(x) #definimos la funcion f para que si es nulo ponga x o si no ponga entero de f
 df[col] = df[col].apply(f)#para cambiar el tipo de dato de la columna EDAD de object a float
 return df

In [17]:
root_dir=Path('.').resolve().parent
root_dir

WindowsPath('C:/Users/andre/OneDrive/Escritorio/Fabian Universidad/Lenguaje/BigData/data')

In [18]:
root_dir=Path('.').resolve().parent
    
out_name = 'llamadas123_2021_2022.csv'# Indicar nombre al archivo de salida
out_path = os.path.join(root_dir,'processed', out_name)
df.to_csv(out_path, sep=';')

In [19]:
def main():

    remove_duplicates
    cleaning_date
    column_cleaning
    save_data
    print('DONE')

In [20]:
if __name__ == "__main__":
    
    main()

NameError: name 'save_data' is not defined